.ink-pull {
  overflow-y: auto;
  width: 100%;

  .pull-wrapper {
    overflow: hidden;

    .pull-content {
      transition: transform 0;
    }

    .pull-top-refresh {
      margin-top: -20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
    }
  }
}
